@font-face {
  font-family: 'Poppins';
  font-display: swap;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}

/* fraunces-regular - latin */
@font-face {
  font-family: 'Milk';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('/fonts/MilkandClay-Regular.otf')
}